body {
  font-family: Avenir;
  background-color: SeaShell;
}


#flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.flex-item2{
  width: 200px;
}

.flex-item1{
  margin-right: 15%;

}

section{
  margin-left: 80px;
  margin-right: 80px;
}
h1{
  font-family: Rockwell;
}
h2{
  text-decoration-line: underline;
}

h4{

}

.evidenziato{
  font-weight: bold;
}

.sottolineato{
  text-decoration: underline;
}

li{
  font-weight: normal;
}

p{

}
a{
  text-decoration-line: none;
}
